/* @import url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,helvetica,arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
    /*font-family: Roboto, RobotoDraft, Arial, sans-serif;*/
}

.sidebar_and_header{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.sidebar{
    float: left;
    width: 270px;
    padding: 10px 10px;
    background-color:black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar_top{
    padding-top: 10px;
}

.sidebar_logo svg{
    margin: 0 0 18px;
    padding: 0 24px;
    color: white;
    width: 180px;
    height: 45px;
}


.sidebar_menu{
    margin-top: 5px;
}

.sidebar_menu_mid{
    margin-bottom: 300px;
}

.sidebar_menu a{
    color: #b3b3b3;
    display: flex;
    text-decoration: none;
    padding-top: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 16px;
    text-transform: none;
}

.sidebar_menu svg{
    height: 30px;
    color: white;
    fill: currentColor;
    cursor: pointer;
    margin-left: 18px;
    margin-right: 18px;
    padding-bottom: 10px;
 
}

.sidebar_menu span{
    padding-top: 3px;
}

.sidebar_menu a.sidebar_menu_selecionado{
    color: white;
    background-color: rgb(80, 80, 80);
    border-radius: 4px;
}

.sidebar_menu img{
   width: 26px;
   height: 26px;
   color: white;
   fill: currentColor;
   cursor: pointer;
   margin: 0 18px;
   border-radius: 1px;
}

.sidebar_menu_criar_playlist{
    width: 26px;
    height: 26px;
    line-height: 26px;
    color: black;
    font-size: 18px;
    background-color: #b3b3b3;
    text-align: center;
    font-weight:300;
    margin: 0 18px;
    border-radius: 1px;
}


.sidebar_bottom {
    margin-bottom: 50px;
    margin-top: 70px;
}

.sidebar_bottom span{
    color: #b3b3b3;
    display: block;
    text-decoration: none;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    cursor: pointer;
}

.topbar{
    /*float:inline-start;*/
    width: 100%;
    height: 64px;
    top: 0;
    padding: 10px 10px;
    background-color:#242424;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.topbar_left button{
    margin-left: 30px;
    margin-right: 16px;
    background-color:#121212;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    cursor: pointer;
    margin-top: 3px;
    border:none;
}

.topbar_left > button:first-child {
    margin-right: -20px;
  }

.topbar_right a{
    padding-right: 40px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 18px;
    text-transform: none;
    letter-spacing: 1.76px;
}

.topbar_right button{
    width: 130px;
    height: 40px;
    border: 2px solid transparent;
    border-radius: 500px;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.76px;
    line-height: 18px;
    border-width: 2px;
    background-color: rgb(255, 255, 255); 
    margin-right: 10px;
}

.topbar_main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.main{
    background-color: rgb(30, 30, 30);
    height: 100%;
    padding: 15px 40px;
    overflow-y: auto;
}

.main_row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 40px; 
}

.main_wraper{
    padding-bottom: 200px;
}

.main_row_title{
    width: 100%;
    display: flex;
    flex-direction: line;
    justify-content: space-between;
}
.main_row_title a.row_title{
    color: white;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -.04em;
    line-height: 28px;
}

.row_title:hover{
    text-decoration: underline;
    cursor: pointer;
}

.main_row_title span{
    color: #b3b3b3;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .1em;
    line-height: 16px;
    cursor: pointer;
}

.txt:hover {
    text-decoration: underline;
}

.main_col{
    cursor:pointer;
    width: 180px;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 16px;
    background-color: #282828;
    border-radius: 4px;
    padding: 16px;
    text-align: center;
}


.main_col:not(:last-child) { 
    margin-right: 25px;
}

.main_col img{
    width: 155px;
    height: 155px;
    border-radius: 2px;
    margin-bottom: 16px;
}

.main_col h3{
    font-size: 16px;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 24px;
    color: white;
    text-align: start;
}

.main_col p{
    margin-top: 4px;
    overflow: hidden;
    color: #b3b3b3;
    text-align: start;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 16px;
    margin-bottom: 16px;
}



::-webkit-scrollbar {
    width: 16px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgb(30, 30, 30);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
  }